---
layout: default
gallery1:
  - column-size: col-4_sm-12
    aspect-ratio: landscape
    background_image: /images/1.jpg
    description: 2022 jméno projektu
  - column-size: col-4_sm-12
    aspect-ratio: landscape
    background_image: /images/1.jpg
    description: 2022 jméno projektu
  - column-size: col-4_sm-12
    aspect-ratio: landscape
    background_image: /images/1.jpg
    description: xxx
gallery2:
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/2.jpg
    description: xxx
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/2.jpg
    description: xxx
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/2.jpg
    description: xxx
gallery3:
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/3.jpg
    description: xxx
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/3.jpg
    description: xxx
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/3.jpg
    description: xxx
gallery4:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/4.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/4.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/4.jpg
    description: xxx
gallery5:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/puda1.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/puda2.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/puda3.jpg
    description: xxx
gallery6:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/6.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/6.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/6.jpg
    description: xx
gallery7:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/placeholder.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/dorfladen6.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/dorfladen7.jpg
    description: xxx
gallery8:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/8.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/8.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/8.jpg
    description: xxx
gallery9:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/9.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/9.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/9.jpg
    description: xxx
gallery10:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/10.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/10.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/10.jpg
    description: xxx
gallery11:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/11.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/11.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/11.jpg
    description: xxx
gallery12:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/12.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/12.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/12.jpg
    description: xxx
gallery13:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/13.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/13.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/13.jpg
    description: xxx
gallery14:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/14.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/14.jpg
    description: xxx
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/14.jpg
    description: xxx
---



<section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-1">
      <!-- <h2 class="center bold-text" id="projekt-1">Projekt 1</h2> -->
      
      <div class="gallery grid" id="lightgallery-1">
        {% for item in page.gallery1 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image lazy-div relative {{item.aspect-ratio}}" 
                data-main="{{item.background_image}}">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>


  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-2">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-2">
        {% for item in page.gallery2 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-3">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-3">
        {% for item in page.gallery3 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-4">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-4">
        {% for item in page.gallery4 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-5">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-5">
        {% for item in page.gallery5 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-6">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-6">
        {% for item in page.gallery6 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-7">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-7">
        {% for item in page.gallery7 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-8">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-8">
        {% for item in page.gallery8 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-9">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-9">
        {% for item in page.gallery9 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-10">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-10">
        {% for item in page.gallery10 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-11">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-11">
        {% for item in page.gallery11 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-12">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-12">
        {% for item in page.gallery12 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-13">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-13">
        {% for item in page.gallery13 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

  <section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-14">
      <!-- <h2 class="center bold-text" id="projekt-2">Projekt 2</h2> -->
      <div class="gallery grid" id="lightgallery-14">
        {% for item in page.gallery14 %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image relative {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>

