---
layout: default
galleries:
  - gallery:
      - headline: Karolina Harrachov
      - about: Rekonstrukce a přístavba hotelu
      - column-size: col-4_sm-12
        aspect-ratio: landscape
        background_image: /images/1.jpg
        description: Karolína Harrachov
      - column-size: col-4_sm-12
        aspect-ratio: landscape
        background_image: /images/2022Harrachovexterier/SMARCH_HARR_03_FINAL_.jpg
        description: Karolína Harrachov
      - column-size: col-4_sm-12
        aspect-ratio: landscape
        background_image: /images/2022Harrachovexterier/SMARCH_HARR_02B_FINAL_CORR01_.jpg
        description: Karolína Harrachov
      - column-size: col-12
        aspect-ratio: landscape
        background_image: /images/2022Harrachovexterier/SMARCH_HARRACHOV_INTER_TERRASA_02.jpg
        description:
  - gallery:
      - headline: second Test
      - about: seocnd about hello world
      - column-size: col-3_sm-12
        aspect-ratio: square
        background_image: /images/2022Harrachovstavba/IMG-20221104-WA0006.jpg
        description: Harrachov stavba - suterén
      - column-size: col-3_sm-12
        aspect-ratio: square
        background_image: /images/2022Harrachovstavba/IMG-20221104-WA0008.jpg
        description: Harrachov stavba - suterén
      - column-size: col-3_sm-12
        aspect-ratio: square
        background_image: /images/2022Harrachovstavba/IMG-20221104-WA0005.jpg
        description: Harrachov stavba - původní konstrukce
      - column-size: col-3_sm-12
        aspect-ratio: square
        background_image: /images/2022Harrachovstavba/IMG-20221104-WA0009.jpg
        description: Harrachov stavba - původní konstrukce
  - gallery:
      - headline: Test 3
      - about:
      - column-size: col-6_sm-12
        aspect-ratio: landscape
        background_image: /images/2.jpg
        description: Karolína Harrachov interiér
      - column-size: col-6_sm-12
        aspect-ratio: landscape
        background_image: /images/2022Harrachovinterier/CHODBA_02_CORR04L_.jpg
        description: Karolína Harrachov interiér
      - column-size: col-12
        aspect-ratio: landscape
        background_image: /images/2022Harrachovinterier/SM_HARR_LOZNICE_022.jpg
        description: Karolína Harrachov interiér
  - gallery:
      - headline:
      - about:
      - column-size: col-6
        aspect-ratio: landscape
        background_image: /images/2022Zachranka/SM_ARCHITECTS_PRO_SANITKY_02_CORR01_.jpg
        description: |
          Stanice ZZS Benátky
      - column-size: col-6
        aspect-ratio: landscape
        background_image: /images/2022Zachranka/SM_ARCHITECTS_PRO_SANITKY_03_CORR01_.jpg
        description: |
          Stanice ZZS Benátky
      - column-size: col-12
        aspect-ratio: landscape
        background_image: /images/3.jpg
        description: |
          Stanice ZZS Benátky
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/4.jpg
        description: Bytový komplex Skalka
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Skalka/1a1.jpg
        description: Bytový komplex Skalka
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Skalka/8a.jpg
        description: Bytový komplex Skalka
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Lysapuda/IMG-3612.jpg
        description: Lysá nad Labem
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Lysapuda/IMG-3608.jpg
        description: Lysá nad Labem
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Lysapuda/IMG-3603.jpg
        description: Lysá nad Labem
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Lysapuda/PUDA_FIN_CAM01B.jpg
        description: Podkrovní sál MU Lysá
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Lysapuda/PUDA_FIN_CAM02.jpg
        description: Podkrovní sál MU Lysá
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Lysapuda/PUDA_FIN_CAM04.jpg
        description: Podkrovní sál MU Lysá
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Pernerova/per-t2ea_17up.jpg
        description: SŽDC Pernerova
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Pernerova/10-ed-ph-01.jpg
        description: SŽDC Pernerova
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Pernerova/per-t2g3up.jpg
        description: SŽDC Pernerova
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/12.jpg
        description: Bytový dům Brandýs
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Brandys/SM_ARCH_BD_BRANDYS_04_CORR01_.jpg
        description: Bytový dům Brandýs
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Brandys/SM_ARCH_BD_BRANDYS_03_CORR01_.jpg
        description: Bytový dům Brandýs
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/8.jpg
        description: Tenisová hala Benátky
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2021TenisBenatky/SMARCH_V2_BENATKY_0001.jpg
        description: Tenisová hala Benátky
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2021TenisBenatky/SMARCH_V2_BENATKY_0004.jpg
        description: Tenisová hala Benátky
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/10.jpg
        description: RD Dubový mlýn
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2021Dubovymlyn/SM_RD_BD_05_FUJI_03.jpg
        description: RD Dubový mlýn
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2021Dubovymlyn/SM_RD_BD_05_FUJI_01.jpg
        description: RD Dubový mlýn
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/6.jpg
        description: Lodní výtah Orlík
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2020Orlik/IMG_8899_FINAL_ZAKRES_.jpg
        description: Lodní výtah Orlík
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2020Orlik/IMG_8896_FINAL_ZAKRES_.jpg
        description: Lodní výtah Orlík
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/9.jpg
        description: Domov seniorů Benátky
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2020SenioriBenatky/detail01_b_upr.jpg
        description: Domov seniorů Benátky
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2020SenioriBenatky/zakres_02_02.jpg
        description: Domov seniorů Benátky
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/11.jpg
        description: Rodinný dům Lány
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2019RDLany/RD_LANY_VISUALIZATION_02.jpg
        description: Rodinný dům Lány
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2019RDLany/RD_LANY_VISUALIZATION_05_varianta_parcela.jpg
        description: Rodinný dům Lány
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2017Obradnisin/IMG_1495.jpg
        description: Obřadní síň Lysá nad Labem
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018Lysa/IMG-3505.jpg
        description: Obřadní síň Lysá nad Labem
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2017Obradnisin/IMG_1511.jpg
        description: Obřadní síň Lysá nad Labem
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/14.jpg
        description: Info centrum Lysá
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018Lysa/IMG-3507.jpg
        description: Info centrum Lysá
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018Lysa/IMG-3508.jpg
        description: Info centrum Lysá
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2015hotel/IMG_4443.JPG
        description: Hotel Benátky nad Jizerou
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2015hotel/DSC_2922.JPG
        description: Hotel Benátky nad Jizerou
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2015hotel/DSC_2885.JPG
        description: Hotel Benátky nad Jizerou
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018RDPikovice/IMG_4201.jpg
        description: RD Pikovice
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018RDPikovice/IMG_4200.jpg
        description: RD Pikovice
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018RDPikovice/IMG_4189.jpg
        description: RD Pikovice
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2016Stodulky/IMG-4677.JPG
        description: RD Stodůlky
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2016Stodulky/IMG-5260.jpg
        description: RD Stodůlky
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2016Stodulky/69912423-7836-4979-8836-ee38066e6651.JPG
        description: RD Stodůlky
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2015Hradistko/IMG-3132.JPG
        description: RD Hradišťko
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2015Hradistko/IMG-3282.JPG
        description: RD Hradišťko
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2015Hradistko/IMG-3293.JPG
        description: RD Hradišťko
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2014NovavespodPlesi/DSC_0564.JPG
        description: RD Nová ves pod Pleší
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2014NovavespodPlesi/DSC_0561.JPG
        description: RD Nová ves pod Pleší
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2014NovavespodPlesi/DSC_0567.JPG
        description: RD Nová ves pod Pleší
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2012/AVCR/Bez-nazvu-1.jpg
        description: Ústav experimentální medicíny
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2012/AVCR/AV-CR-II.JPG
        description: Ústav experimentální medicíny
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2012/AVCR/AV-CR-IV.JPG
        description: Ústav experimentální medicíny
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2012/RDDrazdany/DSC_8457_resize.JPG
        description: RD Drážďany
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2012/RDDrazdany/DSC_8533_resize.JPG
        description: RD Drážďany
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2012/RDDrazdany/DSC_8532_resize.JPG
        description: RD Drážďany
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018RDBarrandov/bar02.jpg
        description: RD Barrandov
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018RDBarrandov/bar04.jpg
        description: RD Barrandov
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018RDBarrandov/bar01.jpg
        description: RD Barrandov
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2010/BytDejvice/DSC_0200copy.jpg
        description: Rekonstrukce bytu Dejvice
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2010/BytDejvice/DSC_0209copy.jpg
        description: Rekonstrukce bytu Dejvice
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2010/BytDejvice/DSC_0183copy.jpg
        description: Rekonstrukce bytu Dejvice
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018Doubkova/IMG-0866.jpg
        description: Vila Doubkova
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018Doubkova/IMG-8863.jpg
        description: Vila Doubkova
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018Doubkova/IMG-8865.jpg
        description: Vila Doubkova
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2012/Sporitelna/CPOJ-II.jpg
        description: Česká spořitelna interiér
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2012/Sporitelna/CPOJ-III.jpg
        description: Česká spořitelna interiér
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2012/Sporitelna/CPOJ-IV.JPG
        description: Česká spořitelna interiér
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2015skolka/DSC01603.JPG
        description: Benátky mateřská školka
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2015skolka/DSC01604.JPG
        description: Benátky mateřská školka
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2015skolka/DSC01610.JPG
        description: Benátky mateřská školka
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018BazenLysa/fin_.origRGB.0002.jpg
        description: Bazén Lysá
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018BazenLysa/fin_.origRGB.0001.jpg
        description: Bazén Lysá
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2018BazenLysa/fin_.origRGB.0003.jpg
        description: Bazén Lysá
  - gallery:
      - headline:
      - about:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2021Brevnov/rez.png
        description: Půdní vestavba Břevnov
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2021Brevnov/1667481592429.jpg
        description: Půdní vestavba Břevnov
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2021Brevnov/pudorys.png
        description: Půdní vestavba Břevnov
  - gallery:
      - headline:
      - about:
      - column-size:
        aspect-ratio:
        background_image:
        description:
---
{%for section in page.galleries%}
<section class="padded">
  <div class="col-12 center">
    {%for gallery in section.gallery%}
    <h2>{{gallery.headline}}</h2>
    <p>{{gallery.about}}</p>
    {%endfor%}
  </div>
  <div class="capped-width m-l-center m-r-center" id="projekt-{{forloop.index}}">
      <!-- <h2 class="center bold-text" id="projekt-1">Projekt 1</h2> -->
      
     
      
    <div class="gallery grid" id="lightgallery-{{forloop.index}}">
      
      {% for item in section.gallery %}
        <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
          <div class="bg-image lazy-div relative {{item.aspect-ratio}}" data-main="{{item.background_image}}">
            <div class="galerie-overlay">
              {{item.description}}
            </div>
          </div>
        </a> 
        
    
      {% endfor %}
    </div>
    
  </div>
</section>
{%endfor%}



<script>
  {%for section in page.galleries%}
  lightGallery(document.getElementById('lightgallery-{{forloop.index}}'), {
  speed: 500,
  download: false
  });
  {%endfor%}
</script>

