---
layout: default
galleries:
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: landscape
        background_image: /images/1.jpg
        description: KAROLÍNA HARRACHOV
      - column-size: col-4_sm-12
        aspect-ratio: landscape
        background_image: /images/Harrachovexterier/SMARCH_HARR_03_FINAL_.jpg
        description: KAROLÍNA HARRACHOV
      - column-size: col-4_sm-12
        aspect-ratio: landscape
        background_image: /images/Harrachovexterier/SMARCH_HARR_02B_FINAL_CORR01_.jpg
        description: KAROLÍNA HARRACHOV
  - gallery:
      - column-size: col-6_sm-12
        aspect-ratio: landscape
        background_image: /images/2.jpg
        description: Karolína Harrachov, interiér podkroví
      - column-size: col-6
        aspect-ratio: landscape
        background_image: /images/Harrachovinterier/LOZNICE_02_CORR04L_.jpg
        description: Karolína Harrachov, interiér ložnice
      - column-size: col-12
        aspect-ratio: landscape
        background_image: /images/Harrachovinterier/OBYVAK_JIDELNA_01_CORR04L_.jpg
        description: Karolína Harrachov interiér kuchyně
  - gallery:
      - column-size: col-6
        aspect-ratio: landscape
        background_image: /images/2022Zachranka/SM_ARCHITECTS_PRO_SANITKY_02_CORR01_.jpg
        description: |
          STANICE ZÁCHRANNÉ SLUŽBY
      - column-size: col-6
        aspect-ratio: landscape
        background_image: /images/2022Zachranka/SM_ARCHITECTS_PRO_SANITKY_03_CORR01_.jpg
        description: |
          STANICE ZÁCHRANNÉ SLUŽBY
      - column-size: col-12
        aspect-ratio: landscape
        background_image: /images/3.jpg
        description: |
          STANICE ZÁCHRANNÉ SLUŽBY
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/4.jpg
        description: BYTOVÝ KOMPLEX SKALKA
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Skalka/1a1.jpg
        description: BYTOVÝ KOMPLEX SKALKA
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/2022Skalka/8a.jpg
        description: BYTOVÝ KOMPLEX SKALKA
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/puda1.jpg
        description: XX
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/puda2.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/puda3.jpg
        description: xxx
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/6.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/6.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/6.jpg
        description: xx
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/placeholder.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/dorfladen6.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/dorfladen7.jpg
        description: xxx
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/8.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/8.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/8.jpg
        description: xxx
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/9.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/9.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/9.jpg
        description: xxx
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/10.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/10.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/10.jpg
        description: xxx
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/11.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/11.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/11.jpg
        description: xxx
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/12.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/12.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/12.jpg
        description: xxx
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/13.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/13.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/13.jpg
        description: xxx
  - gallery:
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/14.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/14.jpg
        description: xxx
      - column-size: col-4_sm-12
        aspect-ratio: square
        background_image: /images/14.jpg
        description: xxx
  - gallery:
      - column-size:
        aspect-ratio:
        background_image:
        description:
---
{%for section in page.galleries%}
<section class="padded">
    <div class="capped-width m-l-center m-r-center" id="projekt-{{forloop.index}}">
      <!-- <h2 class="center bold-text" id="projekt-1">Projekt 1</h2> -->
      
      <div class="gallery grid" id="lightgallery-{{forloop.index}}">
        {% for item in section.gallery %}
      
          <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image lazy-div relative {{item.aspect-ratio}}" data-main="{{item.background_image}}">
                <div class="galerie-overlay">
                  {{item.description}}
                </div>
            </div>
          </a> 
      
        {% endfor %}
      </div>
  </div>
  </section>
{%endfor%}



<script>
  {%for section in page.galleries%}
  lightGallery(document.getElementById('lightgallery-{{forloop.index}}'), {
  speed: 500,
  download: false
  });
  {%endfor%}
</script>
