---
layout: default
team:
 - photo_image: /images/demo-photo1.jpg
   name: Jiří Soukup
   size: col-2_sm-12
   vzdelani: VŠE, Praha
   email: test@test.com
   cislo: +420000000000 
 - photo_image: /images/placeholder.jpg
   name: Tereza Mosbauerová
   size: col-2_sm-12
   vzdelani: VŠE, Praha
   email: test@test.com
   cislo: +420000000000
 - photo_image: /images/placeholder.jpg
   name: Tereza Mosbauerová
   size: col-2_sm-12
   vzdelani: VŠE, Praha
   email: test@test.com
   cislo: +420000000000
 - photo_image: /images/placeholder.jpg
   name: Tereza Mosbauerová
   size: col-2_sm-12
   vzdelani: VŠE, Praha
   email: test@test.com
   cislo: +420000000000
 - photo_image: /images/placeholder.jpg
   name: Tereza Mosbauerová
   size: col-2_sm-12
   vzdelani: VŠE, Praha
   email: test@test.com
   cislo: +420000000000
---




<section class="padded grid">
    <div class="col-12 center">
        <h3>Lorem ipsum něco něco</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, earum qui quisquam facere doloremque. Est, voluptas dolore deleniti, cum atque beatae minima aut at eum nobis fugiat sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora adipisci neque odit omnis eligendi voluptatibus explicabo, ipsum, veritatis ipsam cum nisi provident, earum temporibus laborum magni eos deserunt velit illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, vitae. Laboriosam quam ut et ducimus eligendi consequuntur adipisci numquam quasi autem sed aliquid nesciunt, culpa, beatae modi iure dolorum vel!</p>
    </div>
        
</section>





<section class="padded grid-spaceAround">
    <div class="col-3_sm-12">
        <h3>Lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quos. Doloremque corporis voluptate repellendus iusto veniam animi quaerat expedita dolorum fuga, quasi vel doloribus accusantium. Asperiores possimus sequi ad?</p>
    </div>
    <div class="col-3_sm-12">
        <h3>Lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quos. Doloremque corporis voluptate repellendus iusto veniam animi quaerat expedita dolorum fuga, quasi vel doloribus accusantium. Asperiores possimus sequi ad?</p>
    </div>
    <div class="col-3_sm-12">
        <h3>Lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quos. Doloremque corporis voluptate repellendus iusto veniam animi quaerat expedita dolorum fuga, quasi vel doloribus accusantium. Asperiores possimus sequi ad?</p>
    </div>
</section>

<section class="padded grid-spaceAround">
    <h3 class="center col-12">Kdo jsme</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ratione voluptate, rem praesentium eaque labore! Ducimus repudiandae nisi dolor asperiores commodi qui quam quia inventore? Dolores eos autem similique veniam.</p>

    {%for member in page.team%}
		<div class="{{member.size}} pointer team-member padded-1" data-target="{{member.name}}">
		  <div class="hover-container img-team" style="background-image:url('{{member.photo_image}}')">
			<div class="hover-overlay">
			  <div class="hover-inner">
				<h3 class="team-text center"> {{member.name}} </h3>
			  </div>
			</div>
		  </div>
		</div>
	{%endfor%}

    {%for popup in page.team%}
    <section class="popup" data-pop="{{popup.name}}">
      <div class="grid-spaceBetween">
        <div class="col-5_sm-12">
          <img src="{{popup.photo_image}}" class="popup-photo img-team">
        </div>
        <div class="col-5-middle">
            <h2>{{popup.name}}</h2>
            <p>Vzdělání: {{popup.vzdelani}}</p>
            <p>Email: <a href="mailto:{{popup.email}}"> {{popup.email}}</a></p>
            <p>Telefon: <a href="tel:{{popup.cislo}}"> {{popup.cislo}}</a></p>
        </div>
        <div class="popupX">  
            <svg viewBox="0 0 100 100">
            <path d="M 0,0 L100,100" />
            <path d="M 100,0 L0,100" />
            </svg>
        </div>
      </div>
    </section>


    {%endfor%}

    <div class="popUpOverlay"></div>


</section>
  