<section class="grid center">
    
    <nav class="center col-12 mob-hide web-nav">
        <a 
            {% if page.url == "/" %}
                class="clickedon"
            {%endif%}
        
        href="/"> Home </a>
        <a 
        {% if page.url == "/o-nas.html" %}
        class="clickedon"
        {%endif%} href="/o-nas"> O nás </a>

        <a 
        {% if page.url == "/galerie.html" %}
        class="clickedon"
        {%endif%}
        
        href="/galerie"> Reference </a>
        <!-- <a 
        {% if page.url == "/reference.html" %}
        class="clickedon"
        {%endif%}
        
        
        href="/reference.html"> Reference </a> -->
        <a 
        {% if page.url == "/kontakt.html" %}
        class="clickedon"
        {%endif%}
        
        href="/kontakt"> Kontakt </a>
        <a 
        {% if page.url == "/vzdelani.html" %}
        class="clickedon"
        {%endif%}
        
        href="/vzdelani"> Vzdělání </a>
    </nav>

   
    
    <!-- <div class="mobile-menu"> 
        <nav> 
          <a href="/"> Home </a>
          <a href="/o-nas.html"> O nás </a>
          <a href="/galerie.html"> Galerie </a>
          <a href="/reference.html"> Reference </a>
          <a href="/kontakt.html"> Kontakt </a>
          <a href="/vzdelani.html"> Vzdělání </a>
        </nav>
    </div>  -->
</section>