
<footer class="padded p-b-0 bg-overlay grid bg-beton bg-image tall-30">
            <div class="col-7_sm-12-middle bigger">
               <a href="/"><h3><span class="SM">SM</span> ARCHITECTS<span class="smaller neg-m-b"> S.R.O</span></h3></a>
            </div>
            <div class="editable col-5_sm-12">
               <p>Ing. arch. Jiří Soukup  <a href="tel:+420 608 834 967">+420 608 834 967</a></p>
               <!-- <p>MgA. Tereza Mosbauerová <a href="tel:+420 731 654 946"> +420 731654946</a></p> -->
               <p>Email: <a href="mailto:info@smarchitects.cz"> info@smarchitects.cz</a></p>
               <p>Adresa: Pavla Švandy ze Semčic 13, Praha 5, 15000</p>
            </div>
            <div class="col-12 center copyright">
               <i class="fa fa-copyright"></i> 2022 Design and code by <a href="https://www.lofterrawebdevelopment.com/" target="_blank"> Lofterra webdevelopment</a>
             </div>

</footer>